#pic-select{
	width: 400px;
	height: 400px;
	float: left;
	padding: 30px;
	background-color: #e07b53;
	margin: 2%;
	padding-top: 15%;
}
#selected-pic{

	max-height: 100%;
	max-width: 100%;
}
#input{
	padding-top: 5%;
	margin-right: 10%;
	float: right;
	margin-bottom:20px;
	width:50%; 
}
#address{
	width: 312px;
}

.inputCircle{
	border: 1px solid;
	border-color: #D4D4BF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#maintext{
	width: 100%;
}