#pic-select{
	width: 340px;
	height: 720px;
	float: left;
	padding: 30px;
}
#selected-pic{
	width: 100%;
}
#input{
	padding: 30px;
}
#address{
	width: 312px;
}

.inputCircle{
	border: 1px solid;
	border-color: #D4D4BF;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}