
.category{
	width: 70%;
	position: relative;
	float: left;
min-height: 100px;
padding-left: 4%;
}
.category-name{
	background-color: rgba(246,246,246,1.00);
	margin-bottom: 4%;
}
.category-item{
	margin-bottom: 4%;
	height: 320px;
	background-color: rgba(246,246,246,1.00);
}
.category-detail{
  width: 50%;
	padding: 10px;
  display: inline-block;
}
#tabs li{
  background: #ddd;
  border: 1px solid #ccc;
  border-bottom: none;
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  color: #999;
  cursor: pointer;
}
#tabs li:hover{
  color: #666;
}
#tabs li.enable{
  border-bottom: 1px solid #ddd;
  margin-bottom: -1px;
  color: #333;
}
#contents{
  background: #ddd;
  border: 1px solid #ccc;
  box-shadow: 0 0 16px #ccc;
}
#contents > div{
  display: none;
  text-align: justify;
  padding: 10px 15px;
}
#contents > div:first-of-type{
  display: block;
}
.category-item img{
 width: 320px;
  height: 240px;
  position: relative;
  float: left;
  padding: 30px;
}